services:
  db:
    image: mysql:8.0
    container_name: eventma_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
    - 3307:3306
    volumes:
    - db_data:/var/lib/mysql
    - ./db/schema.sql:/docker-entrypoint-initdb.d/1_schema.sql:ro
    healthcheck:
      test:
      - CMD
      - mysqladmin
      - ping
      - -h
      - localhost
      - -proot
      interval: 5s
      timeout: 5s
      retries: 20
  backend:
    build:
      context: ./backend
    container_name: eventma_backend
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: event_management
      DB_USER: root
      DB_PASSWORD: root
      JWT_SECRET: ChangeMeToAStrongSecretKey_AtLeast_32_Chars_Long
      JWT_EXP_MINUTES: 120
    ports:
    - 8081:8080
  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: http://localhost:8081
    container_name: eventma_frontend
    restart: unless-stopped
    depends_on:
    - backend
    ports:
    - 3000:80
volumes:
  db_data: null
