server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

spring:
  datasource:
    url: jdbc:mysql://${DB_HOST:db}:${DB_PORT:3306}/${DB_NAME:event_management}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: ${DB_USER:root}
    password: ${DB_PASSWORD:root}
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  sql:
    init:
      mode: never

app:
  jwt:
    secret: ${JWT_SECRET:ChangeMeToAStrongSecretKey_AtLeast_32_Chars_Long}
    expirationMinutes: ${JWT_EXP_MINUTES:120}

springdoc:
  swagger-ui:
    path: /swagger
  api-docs:
    path: /v3/api-docs
